<form
  class="form w-100"
  novalidate="novalidate"
  [formGroup]="resetPasswordForm"
  (ngSubmit)="submit()"
  id="kt_login_password_reset_form"
>
  <!--begin::Heading-->
  <div class="text-center mb-10">
    <!--begin::Title-->
    <h1 class="text-gray-900 fw-bolder mb-3">Change Password ?</h1>
    <!--end::Title-->

    <!--begin::Link-->
    <div class="text-gray-500 fw-semibold fs-6">
      Enter your UserName and Previous Password to reset your password.
    </div>
    <!--end::Link-->
  </div>
  <!--begin::Heading-->

  <!-- begin::Alert error-->
  <ng-container *ngIf="errorState === errorStates.HasError">
    <div class="mb-lg-15 alert alert-danger">
      <div class="alert-text font-weight-bold">
        Sorry,  please try again.
      </div>
    </div>
  </ng-container>
  <!-- end::Alert error-->

  <ng-container *ngIf="errorState === errorStates.NoError">
    <div class="mb-10 bg-light-info p-8 rounded">
      <!--begin::Body-->
      <div class="text-info">Sent password reset. Please check your email</div>
      <!--end::Body-->
    </div>
  </ng-container>

  <!--begin::Form group-->
  <div class="fv-row mb-8">
    <label class="form-label fw-bolder text-gray-900 fs-6">UserName</label>
    <input
      class="form-control bg-transparent"
      type="text"
      formControlName="UserName"
      placeholder="UserName"
      name="UserName"
      autocomplete="off"
      [ngClass]="{
        'is-invalid': resetPasswordForm.controls['UserName'].invalid,
        'is-valid': resetPasswordForm.controls['UserName'].valid
      }"
    />

    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'UserName is required',
        control: resetPasswordForm.controls['UserName']
      }"
    ></ng-container>
   
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'minLength',
        message: 'UserName should have at least 3 symbols',
        control: resetPasswordForm.controls['UserName']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'UserName should have maximum 360 symbols',
        control: resetPasswordForm.controls['UserName']
      }"
    ></ng-container>
  </div>

  <div class="fv-row mb-8">
    <label class="form-label fw-bolder text-gray-900 fs-6"
      >Previous Password</label
    >
    <input
      class="form-control bg-transparent"
      type="password"
      formControlName="previousPassword"
      placeholder="Previous Password"
      name="previousPassword"
      autocomplete="off"
      [ngClass]="{
        'is-invalid': resetPasswordForm.controls['previousPassword'].invalid,
        'is-valid': resetPasswordForm.controls['previousPassword'].valid
      }"
    />

    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Previous Password is required',
        control: resetPasswordForm.controls['previousPassword']
      }"
    ></ng-container>
  
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'minLength',
        message: 'Previous Password should have at least 3 symbols',
        control: resetPasswordForm.controls['previousPassword']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'Previous Password should have maximum 360 symbols',
        control: resetPasswordForm.controls['previousPassword']
      }"
    ></ng-container>
  </div>

  <!-- new password -->
  <div class="fv-row mb-8">
    <label class="form-label fw-bolder text-gray-900 fs-6">New Password</label>
    <input
      class="form-control bg-transparent"
      type="password"
      formControlName="newPassword"
      placeholder="newPassword"
      name="newPassword"
      autocomplete="off"
      [ngClass]="{
        'is-invalid': resetPasswordForm.controls['newPassword'].invalid,
        'is-valid': resetPasswordForm.controls['newPassword'].valid
      }"
    />

    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'newPassword is required',
        control: resetPasswordForm.controls['newPassword']
      }"
    ></ng-container>
   
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'minLength',
        message: 'newPassword should have at least 3 symbols',
        control: resetPasswordForm.controls['newPassword']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'newPassword should have maximum 360 symbols',
        control: resetPasswordForm.controls['newPassword']
      }"
    ></ng-container>
  </div>
  <!-- confirm new password -->
  <div class="fv-row mb-8">
    <label class="form-label fw-bolder text-gray-900 fs-6"
      >Confirm Password</label
    >
    <input
      class="form-control bg-transparent"
      type="password"
      formControlName="confirmNewPassword"
      placeholder="confirmNewPassword"
      name="confirmNewPassword"
      autocomplete="off"
      [ngClass]="{
        'is-invalid': resetPasswordForm.controls['confirmNewPassword'].invalid,
        'is-valid': resetPasswordForm.controls['confirmNewPassword'].valid
      }"
    />

    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'confirmNewPassword is required',
        control: resetPasswordForm.controls['confirmNewPassword']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'confirmNewPassword',
        message: 'Email is invalid',
        control: resetPasswordForm.controls['confirmNewPassword']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'minLength',
        message: 'confirmNewPassword should have at least 3 symbols',
        control: resetPasswordForm.controls['confirmNewPassword']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'confirmNewPassword should have maximum 360 symbols',
        control: resetPasswordForm.controls['confirmNewPassword']
      }"
    ></ng-container>
  </div>
  <!--end::Form group-->
  <!--begin::Form group-->
  <div class="d-flex flex-wrap justify-content-center pb-lg-0">
    <button
      type="submit"
      id="kt_password_reset_submit"
      class="btn btn-primary me-4"
    >
      <span class="indicator-label">Submit</span>
      <ng-container *ngIf="isLoading$ | async">
        <span class="indicator-progress">
          Please wait...
          <span
            class="spinner-border spinner-border-sm align-middle ms-2"
          ></span>
        </span>
      </ng-container>
    </button>
    <a
      routerLink="/auth/login"
      id="kt_login_password_reset_form_cancel_button"
      class="btn btn-light"
    >
      Cancel
    </a>
  </div>
  <!--end::Form group-->
</form>
<!--end::Form-->

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert">{{ message }}</span>
      </div>
    </div>
  </ng-container>
</ng-template>
