<!--begin::Items-->
<div class="mb-10" *ngFor="let item of allProjects">
  <!--begin::Item-->
  <a
    class="custom-list d-flex align-items-center px-5 py-4 text-decoration-none"
    [routerLink]="[item.link]"
  >
    <!--begin::Symbol-->
    <div class="symbol symbol-40px me-5">
      <span class="symbol-label">
        <img [src]="item.image" class="h-50 align-self-center" alt="" />
      </span>
    </div>
    <!--end::Symbol-->

    <!--begin::Description-->
    <div class="d-flex flex-column flex-grow-1">
      <!--begin::Title-->
      <h5 class="custom-list-title fw-bold text-gray-800 mb-1">
        {{ item.title }}
      </h5>
      <!--end::Title-->

      <!--begin::Link-->
      <!-- <span class="text-gray-500 fw-bold">
        {{ item.link }}
      </span> -->
      <!--end::Link-->
    </div>
    <!--end::Description-->
  </a>
  <!--end::Item-->
</div>
