
<div class="mb-2 " *ngFor="let item of allProjects">

  <a
    class="custom-list d-flex align-items-center px-5 py-4 text-decoration-none"
    [routerLink]="[item.navigateUrl]"
  >
    
      <div class="mb-2">
              <img
                [src]="fileUrl + item.logoUrl"
                class="img-fluid rounded-circle shadow-sm"
                style="width: 30px; height: 30px; object-fit: cover"
                alt="{{ item.title }} logo"
              />
            </div>


    <div class="d-flex flex-column flex-grow-1">

      <h5 class="custom-list-title fw-bold text-gray-800 mb-1 ">
        {{ item.title }}
      </h5>
     
    </div>
 
  </a>

</div>
