<div class="card shadow-sm">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h3 class="card-title">User List</h3>
    <div class="card-toolbar">
      <button class="btn btn-sm btn-primary" (click)="careateOrEditModalPopUp(userModal)">
        <i class="bi bi-plus-circle"></i> Add User
      </button>
    </div>
  </div>

  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table align-middle table-row-dashed table-hover mb-0">
        <thead>
          <tr class="fw-bold">
            <th class="min-w-100px">ID</th>
            <th class="min-w-100px">User ID</th>
            <th class="min-w-150px">User Name</th>
            <th class="min-w-120px text-end">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let user of allUsers; let i = index"
            (dblclick)="careateOrEditModalPopUp(userModal,user)"
          >
            <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
            <td>{{ user.userID }}</td>
            <td>{{ user.userName }}</td>

            <td class="text-end">
              <div class="dropdown">
                <button
                  class="  btn btn-sm btn-light-primary btn-active-light-primary"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  (click)="toggleDropdown(i, $event)"
                >
                  Actions
                  <i class="bi bi-chevron-down ms-2"></i>
                </button>
         

                <ul
                  class="dropdown-menu menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-125px py-4 end-0"
                  [ngClass]="{
                    show: isOpenAction === i,
                    dropup: i + 1 > allUsers.length - 2
                  }"
                >
                  <li>
                    <a
                      
                      class="dropdown-item menu-link px-3"
                      (click)="careateOrEditModalPopUp(userModal,user)"
                    >
                      <i class="bi bi-pencil-square me-2"></i>
                      Edit UserInfo
                    </a>
                  </li>
                  <li>
                    <a
                      
                      class="dropdown-item menu-link px-3"
                      (click)="onAddProject(projectModal, user.userID)"
                    >
                      <i class="bi bi-folder-plus me-2"></i>
                      Add Project
                    </a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
          <tr *ngIf="!allUsers || allUsers.length === 0">
            <td colspan="4" class="text-center text-muted py-5">
              No users found.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<ng-template #userModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">{{ isEditMode ? "Edit User" : "Create User" }}</h5>
    <button type="button" class="btn-close" (click)="modal.dismiss('close')"></button>
  </div>

  <div class="modal-body">
    <form [formGroup]="userForm">
     

      <div class="mb-3">
        <label>User Name<span class="text-danger">*</span></label>
        <input type="text" class="form-control" formControlName="userName" />
      </div>
    <div class="mb-3">
            <label>Password<span class="text-danger">*</span></label>
            <input type="text" class="form-control" formControlName="password" />
          </div>
      <div class="mb-3">
        <label>Full Name</label>
        <input type="text" class="form-control" formControlName="fullName" />
      </div>

      <div class="mb-3">
        <label>Email <span class="text-danger">*</span></label>
        <input type="email" class="form-control" formControlName="email" />
      </div>
    <div class="mb-3">
        <label>Shop ID</label>
        <input type="text" class="form-control" formControlName="shopID" />
      </div>
        <div class="mb-3">
        <label>Employee ID</label>
        <input type="text" class="form-control" formControlName="employeeID" />
      </div>
      <div class="mb-3">
        <label>Designation ID</label>
        <input type="text" class="form-control" formControlName="designationID" />
      </div>
      <div class="mb-3">
        <label>Mobile No</label>
        <input type="text" class="form-control" formControlName="mobileNo" />
      </div>
     
      <div class="mb-3">
        <label>Address</label>
        <textarea class="form-control" formControlName="address"></textarea>
      </div>

      <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" formControlName="inActive" id="inactiveCheck"/>
        <label class="form-check-label" for="inactiveCheck">Inactive</label>
      </div>

    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.dismiss('cancel')">Cancel</button>
    <button type="button" class="btn btn-primary" [disabled]="!userForm.valid" (click)="onSubmit(); modal.close('submit')">
      {{ isEditMode ? "Update" : "Create" }}
    </button>
  </div>
</ng-template>


<ng-template #projectModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">{{ isEditMode ? "Edit Project" : "Create Project" }}</h5>
    <button type="button" class="btn-close" (click)="modal.dismiss('close')"></button>
  </div>

  <div class="modal-body">
    <form [formGroup]="projectForm">
  <div class="row">
    <div
      class="col-xl-3 col-lg-4 col-md-6"
      *ngFor="let app of apps; let i = index"
    >
      <div class="app-card card h-100 border-0 shadow-lg rounded-3 overflow-hidden position-relative">

        <!-- Checkbox -->
       <div class="form-check position-absolute top-0 end-0 m-2">
        <input
          type="checkbox"
          class="form-check-input"
          [id]="'check' + app.id"
          [checked]="app.isChecked"
          (change)="onProjectCheckChange(app, $event)"
        />
        <label class="form-check-label" [for]="'check' + app.id">
          Select
        </label>
      </div>

        <!-- Logo + Title -->
        <div class="text-center p-3">
          <img
            [src]="fileUrl + app.logoUrl"
            class="img-fluid rounded-circle shadow-sm"
            style="width: 80px; height: 80px; object-fit: cover"
            alt="{{ app.title }} logo"
          />
          <h3 class="app-title fw-semibold text-dark mb-2">
            {{ app.title }}
          </h3>
        </div>

      </div>
    </div>
  </div>
</form>
</div>

  <div class="modal-footer modal-footer-custom">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.dismiss('cancel')"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="!projectForm.valid"
      (click)="onProjectSubmit(); modal.dismiss('submit')"
    >
      <i class="bi bi-check-circle me-2"></i>
      {{ isEditMode ? "Update" : "Create" }}
    </button>
  </div>
 </ng-template>



<swal #noticeSwal [swalOptions]="swalOptions"></swal>